@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: hsl(225, 100%, 94%);
  background-image: url(/img/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.container {
  margin: 0 auto;
  background: hsl(225, 100%, 98%);
  width: 400px;
  border-radius: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.header img {
  border-radius: 20px 20px 0 0;
}

.main {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.title {
  color: hsl(223, 47%, 23%);
}

p {
  color: hsl(224, 23%, 55%);
  font-size: 18px;
  font-weight: 500;
}

.plano {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsla(225, 100%, 94%, 0.651);
  border-radius: 1rem;
  padding: 10px;
  margin: 10px;
  font-size: 12px;
}

.plano div {
  display: flex;
  gap: 0.5px;
  align-items: center;
}

.plano-info {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.plano-info b {
  color: hsl(223, 47%, 23%);
}

.plano-info span {
  color: hsl(224, 23%, 55%);
}

.link {
  
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  opacity: 70%;
}

.bottons {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.bottons button {
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.pay {
  font-weight: 700;
  background: hsl(245, 75%, 52%);
  color: white;
}

.pay:hover {
  opacity: 75%;
}

.cancel {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  background: white;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

@media screen and (max-width: 500px) {
body {
  background-image: url(/img/pattern-background-mobile.svg);
}
.container{
  width: 360px;
}
}